<div class="create-todo content hidden">
  <form class="create-form" action="/" method="POST">
    <div class="create-todo content title">
      <label for="title">Task:</label>
      <input type="text" id="title" name="title" required />
    </div>
    <div class="create-todo content tag">
      <label for="tag">Tags:</label>
      <input type="text" id="tag" name="tag" required />
    </div>
    <input
      type="checkbox"
      id="completed"
      name="completed"
      value="false"
      hidden
    />
    <button class="create plus"><i class="ph-fill ph-plus-circle"></i></button>
  </form>
</div>
